* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(229 229 229);
  background-color: black;
}

::-webkit-scrollbar {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #0ab680;
  border-radius: 80px;
}

h1 {
  font-family: "sans-serif";
}
.mazius {
  font-family: "Roman Regular";
}
.nav_drop * {
  background-color: transparent;
}
.scroll {
  opacity: 1;
  transition: all 1s ease-in-out;
}
