* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(247, 247, 247);
  /* background-color: #bababa; */
  /* background-blend-mode: difference; */
}

::-webkit-scrollbar {
  display: none;
}

nav {
  mix-blend-mode: difference;
  backdrop-filter: saturate(35%) blur(4px);
  border: 2px solid transparent;
}
h1 {
  font-family: "sans-serif";
}
.mazius {
  font-family: "Roman Regular";
}
.nav_drop * {
  background-color: transparent;
}
.scroll {
  opacity: 1;
  transition: all 1s ease-in-out;
}
/* section * {
  background-color: transparent;
} */
